<nav class="category">
    <h3 class="category__heading"><i class="category__heading-icon fa-solid fa-list"></i>
        Danh mục</h3>
    <ul class="category-list">
        <li class="category-item category-item--active">
            <a href="" class="category-item__link">
                Laptop
            </a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">
                Tablet
            </a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">
                Điện thoại thông minh
            </a>
        </li>
    </ul>
</nav>