<div class="modal">
    <div class="modal__overlay"><a href="/"></a></div>
    <div class="modal__body">
        <div class="auth-form">
            <div class="auth-form__container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Đăng Nhập</h3>
                    <button onclick="location.href='/signup'" class="auth-form__switch-btn">Đăng Ký</button>
                </div>
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" class="auth-form__input" placeholder="Nhập username của bạn">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" class="auth-form__input" placeholder="Nhập mật khẩu của bạn">
                    </div>
                </div>
                <div class="auth-form__checkbox">
                    <input type="checkbox" class="auth-form__checkbox-box">
                    <span class="auth-form__checkbox-text">Lưu mật khẩu</span>
                </div>
                <div class="auth-form__aside">
                    <div class="auth-form__function">
                        <a href="" class="auth-form__help-link auth-form__forgot-password">Quên Mật Khẩu</a>
                        <span class="auth-form__function-separate"></span>
                        <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                    </div>
                </div>
                <div class="auth-form__controls">
                    <button onclick="location.href='/'" class="btn btn--normal auth-form__controls-back">
                        TRỞ LẠI
                    </button>
                    <button class="btn btn--primary">
                        ĐĂNG NHẬP
                    </button>
                </div>
                <div class="auth-form__socials">
                    <a href="" class="btn auth-form__socials--facebook btn--size-s btn--with-icon">
                        <i class="auth-form__socials-icon fa-brands fa-facebook-f"></i>
                        <span class="auth-form__socials-title">Đăng nhập bằng Facebook</span>
                    </a>
                    <a href="" class="btn auth-form__socials--google btn--size-s btn--with-icon">
                        <img alt="icon" class="auth-form__socials-icon my-fa__google" src="img/google.png">
                        <span class="auth-form__socials-title">Đăng nhập bằng Google</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>