<div class="mt-5" style="margin-left: 150px">
    <form class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
            <label class="form-label" for="autoSizingInput">Từ khóa</label>
            <input type="text" class="form-control" id="autoSizingInput" placeholder="Nhập từ khóa....">
        </div>
        <div class="col-auto">
            <label class="form-label" for="autoSizingInputGroup">Người đăng</label>
            <div class="input-group">
                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Nhập tên người đăng....">
            </div>
        </div>
        <div class="col-auto">
            <label class="form-label" for="autoSizingSelect">Loại sản phẩm</label>
            <select class="form-select" id="autoSizingSelect">
                <option selected>Chọn...</option>
                <option value="1">Điện Thoại</option>
                <option value="2">Laptop</option>
                <option value="3">Máy In</option>
            </select>
        </div>
        <div class="col-auto" style="margin-top: auto">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </form>
</div>