<!DOCTYPE html>
<html lang="en">
<head>
    <title>Node.js application</title>
    <meta charset="UTF-8">
    <link rel="icon" href="img/placeholder.png">
</head>
<body>
<h1 style="color: red"><b>ERROR 404: NOT FOUND!</b></h1>
<div class="error-info">
    <p><b>The link is not existed or no longer available</b></p>
    <p><b>Please check your URL again</b></p>
</div>
<a href="/"><b><u>GO BACK TO HOMEPAGE</u></b></a>
</body>
</html>
