<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ERROR 404</title>
</head>
<body>
<h1 style="color: red; font-weight: bold"> Oops: We ran into some problems!</h1>
<h2>Không thể tìm thấy trang mà bạn yêu cầu</h2>
<h2>Xin vui lòng kiểm tra lại tên miền hoặc thử lại sau</h2>
<h3><a href="/" style="text-decoration: underline; color: #1877f2">trở về trang chủ</a></h3>
</body>
</html>