<div class="grid">
    <div class="grid__row">
        <div class="grid__column-2-4">
            <h3 class="footer__heading">
                CHĂM SÓC KHÁCH HÀNG
            </h3>
            <ul class="footer__list">
                <li class="footer__list-item">
                    <a>Trung Tâm Trợ Giúp</a>
                </li>
                <li class="footer__list-item">
                    <a>Shopee Mall</a>
                </li>
                <li class="footer__list-item">
                    <a>Hướng Dẫn Mua Hàng</a>
                </li>
                <li class="footer__list-item">
                    <a>Hướng Dẫn Bán Hàng</a>
                </li>
            </ul>
        </div>
        <div class="grid__column-2-4">
            <h3 class="footer__heaing">
                VỀ SHOPEE
            </h3>
            <ul class="footer__list">
                <li class="footer__list-item">
                    <a>Giới Thiệu Về Shopee</a>
                </li>
                <li class="footer__list-item">
                    <a>Tuyển Dụng</a>
                </li>
                <li class="footer__list-item">
                    <a>Điều Khoản Shopee</a>
                </li>
                <li class="footer__list-item">
                    <a>Chính Sách Bảo Mật</a>
                </li>
            </ul>
        </div>
        <div class="grid__column-2-4">
            <h3 class="footer__heading">
                THANH TOÁN
            </h3>
            <div class="payment-method">
                <img src="img/VISA.png" alt="visa">
                <img src="img/MasterCard.png" alt="mastercard">
                <img src="img/JCB.png" alt="jcb">
                <img src="img/AmericanExpress.png" alt="american-express">
                <img src="img/ShopeePay1.png" alt="shopee-pay">
                <img src="img/ShopeePay2.png" alt="shopee-pay">
            </div>
        </div>
        <div class="grid__column-2-4">
            <h3 class="footer__heading">
                THEO DÕI CHÚNG TÔI TRÊN
            </h3>
            <ul class="footer__list">
                <li class="footer__list-item">
                    <a>
                        <i class="footer-item__icon fa-brands fa-facebook"></i>
                        Facebook
                    </a>
                </li>
                <li class="footer__list-item">
                    <a>
                        <i class="footer-item__icon fa-brands fa-square-instagram"></i>
                        Instagram
                    </a>
                </li>
                <li class="footer__list-item">
                    <a>
                        <i class="footer-item__icon fa-brands fa-linkedin"></i>
                        LinkedIn
                    </a>
                </li>
            </ul>
        </div>
        <div class="grid__column-2-4">
            <h3 class="footer__heading">
                TẢI ỨNG DỤNG SHOPEE NGAY THÔI
            </h3>
            <div class="footer__download">
                <img src="img/QRCode.png" alt="download-qr" class="footer__download-qr">
                <div class="footer__download-app">
                    <a>
                        <img src="img/AppStore.png" alt="AppStore" class="footer__download-app-img">
                    </a>
                    <a>
                        <img src="img/CHplay.png" alt="CHplay" class="footer__download-app-img">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer__bottom">
    <div class="grid">
        <p class="footer__text">&#169; <span>2023</span> Shopee. Tất cả các quyền được bảo lưu.</p>
    </div>
</div>