<div class="header-with-search">
    <div class="header__logo" onclick="location.href = '/';">
        <%- include('shopee-logo') %>
    </div>
    <%- include('searchbar') %>
        <div class="header__cart">
            <div class="header__cart-wrap">
                <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                <span class="header__cart-noti">
                    3
                </span>
                <!--No cart class part:  header__cart-list--no-cart-->
                <div class="header__cart-list">
                    <img src="img/empty_cart.png" alt="empty cart image" class="header__cart-no-cart-img">
                    <span class="header__cart-no-cart-msg">Chưa Có Sản Phẩm</span>
                    <h4 class="header__cart-heading">Sản Phẩm Mới Thêm</h4>
                    <ul class="header__cart-list-item">
                        <li class="header__cart-item">
                            <img src="https://cf.shopee.vn/file/sg-11134201-22100-lws6g78z16hv30_tn"
                                alt="header__cart-img" class="header__cart-item-img">
                            <div class="header__cart-item-info">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">
                                        Áo Sơ Mi Nam
                                    </h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">
                                            đ2.000.000
                                        </span>
                                        <span class="header__cart-item-multiply">
                                            &#215;
                                        </span>
                                        <span class="header__cart-item-qnt">2
                                        </span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-desc">
                                        Phân loại: bạc
                                    </span>
                                    <span class="header__cart-item-remove">
                                        XÓA
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://cf.shopee.vn/file/sg-11134201-22100-lws6g78z16hv30_tn"
                                alt="header__cart-img" class="header__cart-item-img">
                            <div class="header__cart-item-info">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">
                                        Áo Sơ Mi Nam
                                    </h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">
                                            đ2.000.000
                                        </span>
                                        <span class="header__cart-item-multiply">
                                            &#215;
                                        </span>
                                        <span class="header__cart-item-qnt">2
                                        </span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-desc">
                                        Phân loại: bạc
                                    </span>
                                    <span class="header__cart-item-remove">
                                        XÓA
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://cf.shopee.vn/file/sg-11134201-22100-lws6g78z16hv30_tn"
                                alt="header__cart-img" class="header__cart-item-img">
                            <div class="header__cart-item-info">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">
                                        Áo Sơ Mi Nam
                                    </h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">
                                            đ2.000.000
                                        </span>
                                        <span class="header__cart-item-multiply">
                                            &#215;
                                        </span>
                                        <span class="header__cart-item-qnt">2
                                        </span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-desc">
                                        Phân loại: bạc
                                    </span>
                                    <span class="header__cart-item-remove">
                                        XÓA
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <button class="header__cart-view btn btn--primary">Xem Giỏ Hàng</button>
                </div>
            </div>

        </div>
</div>