<div class="grid">
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-list__item navbar-list__item--line navbar-list__item--has-qr">
                <a class="link"> Tải ứng dụng dành cho di động </a>
                <div class="navbar-list__qr">
                    <img src="img/QRCode.png" alt="qr-code" class="navbar-list__qr--show-qr">
                    <div class="navbar-list__qr--show-store">
                        <span class="chplay"><img src="img/CHplay.png" alt="chplay-redirect"></span>
                        <span class="appstore"><img src="img/AppStore.png" alt="appstore-redirect"></span>
                    </div>
                </div>
            </li>
            <li class="navbar-list__item">
                        <span class="navbar-list__item--no-effect">
                            Kết nối:
                        </span>
                <a class="link">
                    <i class="navbar-list__item icon fa-brands fa-facebook"></i>
                </a>
                <a class="link">
                    <i class="navbar-list__item icon fa-brands fa-square-instagram"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-list navbar-list__console">
            <li class="navbar-list__item navbar-list__item--show-noti">
                <a class="link"><i class="icon fa-regular fa-bell"></i>Thông Báo</a>
                <div class="notify">
                    <div class="notify__header">
                        <h3>Thông Báo Mới Nhận</h3>
                    </div>
                    <ul class="notify__list">
                        <li class="notify__item notify__item--seen">
                            <a class="link">
                                <img class="notify__item--img" src="https://cf.shopee.vn/file/sg-11134201-22090-bepwi9yp5yhv9f_tn" alt="notification">
                                <div class="notify__item--info">
                                    <span class="item-header">IPHONE 14 giảm giá sốc</span>
                                    <span class="item-desc">Nhanh tay sắm ngay Iphone 14 giá hời đi nào......</span>
                                </div>
                            </a>
                        </li>
                        <li class="notify__item notify__item--unseen">
                            <a class="link">
                                <img class="notify__item--img" src="https://cf.shopee.vn/file/sg-11134201-22090-bepwi9yp5yhv9f_tn" alt="notification">
                                <div class="notify__item--info">
                                    <span class="item-header">IPHONE 14 giảm giá sốc</span>
                                    <span class="item-desc">Nhanh tay sắm ngay Iphone 14 giá hời đi nào......</span>
                                </div>
                            </a>
                        </li>
                        <li class="notify__item notify__item--unseen">
                            <a class="link">
                                <img class="notify__item--img" src="https://cf.shopee.vn/file/sg-11134201-22090-bepwi9yp5yhv9f_tn" alt="notification">
                                <div class="notify__item--info">
                                    <span class="item-header">IPHONE 14 giảm giá sốc</span>
                                    <span class="item-desc">Nhanh tay sắm ngay Iphone 14 giá hời đi nào......</span>
                                </div>
                            </a>
                        </li>
                        <li class="notify__item notify__item--seen">
                            <a class="link">
                                <img class="notify__item--img" src="https://cf.shopee.vn/file/sg-11134201-22090-bepwi9yp5yhv9f_tn" alt="notification">
                                <div class="notify__item--info">
                                    <span class="item-header">IPHONE 14 giảm giá sốc</span>
                                    <span class="item-desc">Nhanh tay sắm ngay Iphone 14 giá hời đi nào......</span>
                                </div>
                            </a>
                        </li>
                        <li class="notify__item notify__item--seen">
                            <a class="link">
                                <img class="notify__item--img" src="https://cf.shopee.vn/file/sg-11134201-22090-bepwi9yp5yhv9f_tn" alt="notification">
                                <div class="notify__item--info">
                                    <span class="item-header">IPHONE 14 giảm giá sốc</span>
                                    <span class="item-desc">Nhanh tay sắm ngay Iphone 14 giá hời đi nào......</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="notify__footer">
                        <a class="link" href="/search">Xem tất cả</a>
                    </div>
                </div>
            </li>
            <li class="navbar-list__item">
                <a class="link"><i class="icon fa-regular fa-circle-question"></i>Hỗ Trợ</a>
            </li>
            <!--                        <li class="navbar-list__item navbar-list__item&#45;&#45;bold navbar-list__item&#45;&#45;line">-->
            <!--                            <p class="link link&#45;&#45;registry" onclick="showRegistryForm()">Đăng Ký</p>-->
            <!--                        </li>-->
            <!--                        <li class="navbar-list__item navbar-list__item&#45;&#45;bold">-->
            <!--                            <p class="link link&#45;&#45;login" onclick="showLoginForm()">Đăng Nhập</p>-->
            <!--                        </li>-->
            <li class="navbar-list__item navbar-list__item-user">
                <a href="/user" class="link user">
                    <img class="user__img"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Eo_circle_yellow_letter-t.svg/1024px-Eo_circle_yellow_letter-t.svg.png"
                         alt="avatar-icon">
                    <span class="user__name">
                    Super Moderator
                </span>
                </a>
                <ul class="user__menu">
                    <li class="user__item">
                        <a href="">Tài Khoản Của Tôi</a>
                    </li>
                    <li class="user__item">
                        <a href="">Đơn Mua</a>
                    </li>
                    <li class="user__item">
                        <a href="">Cửa Hàng Của Tôi</a>
                    </li>
                    <li class="user__item user__item--important">
                        <a href="">Bảng Điều Kiển</a>
                    </li>
                    <li class="user__item user__item--separator">
                        <a href="">Đăng Xuất</a>
                    </li>
                </ul>
            </li>
        </ul>
        <script src="javascript/form_switch.js"></script>
    </nav>
</div>